body {
    background-color: aqua;
}

.box1-with-transition {
    background-color: red;
    height: 150px;
    widht: 150px;
    border: solid black 3px;
    border-radius: 3px;
    transition: all 1s ease-in-out;
}

.box1-with-transition:hover {
    border-radius: 50%;
}

.box1-without-transition {
    background-color: red;
    height: 150px;
    widht: 150px;
    border: solid black 3px;
    border-radius: 3px;
}

.box1-without-transition:hover {
    border-radius: 50%;
}
